@import 'colors';

body {
  display: block;
  text-align: center;
}

.container {
  display: inline-block;
  margin: 0 auto;
  width: 120ch;
  height: 100%;
  text-align: left;
}

.pre {
  position: relative;
  white-space: pre;
  font-family: monospace;
}

span {
  &.button {
    position: absolute;
    overflow: hidden;
    white-space: pre;
    box-sizing: border-box;

    &.normal,
    &.real {
      cursor: pointer;
      user-select: none;
    }

    &.ninja {
      cursor: text;
    }

    &.real {
      border: 1px solid $button-border;
      background-color: $button-color;

      &:hover {
        :not(:active) {
          background-color: lighten($button-color, 5);
        }
      }
    }
  }

  &.popup {
    position: absolute;
    transform: translateX(16px);
    border: 1px solid $text-color;
    background-color: $page-bg;
    overflow: hidden;
    white-space: pre;
    pointer-events: none;
    box-sizing: border-box;
  }
}
