body {
  display: block;
  text-align: center;
}

.container {
  display: inline-block;
  margin: 0 auto;
  width: 120ch;
  height: 100%;
  overflow: hidden;
  text-align: left;
}

.pre {
  position: relative;
  font-family: monospace;
  white-space: pre;

  span.button {
    position: absolute;
    cursor: pointer;
  }
}
